* {
  font-family: "Poppins", serif;
}
body,
html {
  width: 100%;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}
.App {
}
.Landing {
  height: inherit;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.landing-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(248, 245, 245);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-page-container {
  height: 80%;
  width: 70%;
  display: flex;
  align-items: center;
  box-shadow: 1px 0px 3px 1px rgba(71, 71, 71, 0.267);
  background-image: url("/images/pexels-jess-vide-4321080.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 15px;
}
.landing-info {
  flex: 1;
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(34, 17, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-title {
  font-size: 3rem;
  margin: 0px 20px;
  font-weight: bold;

  color: white;
}
.landing-subtitle {
  font-size: 1.5rem;

  color: whitesmoke;
}
.empty {
  flex: 1;
}
nav {
  display: flex;
  justify-content: space-around;

  background-color: rgb(248, 245, 245);
}

.logo-land {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 15px;
  display: flex;
  align-items: center;
}
.logo-land .icon {
  color: red;
  font-size: 4rem;
}
.login-register {
  display: flex;
  align-items: center;
  gap: 25px;
}

.login-btn {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #0f0f0f;
  padding: 10px 25px;
  border-radius: 8px;
}
.login-btn:hover {
  background-color: #0f0f0f;
  color: white;
}
.register-btn {
  font-weight: bold;
  border-radius: 7px;

  margin-right: 10px;
  outline: none;
  padding: 15px 25px;
  cursor: pointer;
  background-color: #0f0f0f;
  color: white;
  border: 1px solid transparent;
}
.register-btn:hover {
  border: 1px solid #0f0f0f;
  background-color: transparent;
  color: #0f0f0f;
}
.register-btn2 {
  font-weight: bold;
  margin: 20px;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #0f0f0f;
  color: white;
}
.register-btn2:hover {
  border: 1px solid #0f0f0f;
  background-color: transparent;
  color: #0f0f0f;
  cursor: pointer;
}

.register-btn:hover {
}

.register-btn2:hover {
}

.Home {
  height: 100%;

  display: flex;
}
.Sidebar {
  flex: 2;
  height: 100%;
  background-color: whitesmoke;
}
.logo {
  text-align: center;
}
.Sidebar h3 {
  font-size: 1.2rem;
  margin-top: 23px;

  margin-bottom: 50px;
}
.Sidebar .logout {
  width: 30%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.1rem;
  padding: 15px 0px;
}
.Sidebar .logout .text {
  flex: 2;
}
.Sidebar .logout:hover {
  cursor: pointer;
  background-color: #0f0f0f;
  color: white;
  border-radius: 40px;
  padding: 15px;
}
.dashboard-saved {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dashboard-saved .dashboard {
  width: fit-content;
  margin: 0px auto;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px 0px;
}
.dashboard-saved .dashboard .text {
  flex: 2;
}
.dashboard-saved .saved {
  width: fit-content;
  margin: 0px auto;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px 0px;
}
.dashboard-saved .saved .text {
  flex: 2;
}

.dashboard-saved .save-btn {
  width: fit-content;
  margin: 0px auto;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px 0px;
}
.dashboard-saved .saved-btn .text {
  flex: 2;
}
.dashboard-saved .profile-link {
  width: 30%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px 0px;
}
.Main {
  flex: 8;
  height: inherit;
}
.main-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 20px 25px;
  background-color: whitesmoke;
}
.suggest-btn {
  border-radius: 3px;
  padding: 5px;
  border: none;
  border: 1px solid #000614;
  color: #000614;
  background-color: transparent;
}

.suggest-btn:hover {
  background-color: #000614;
  color: white;
  cursor: pointer;
}

.save-btn {
  border-radius: 3px;
  padding: 5px;
  border: none;
  background-color: #000614;
  color: white;
}

.dashboard:hover {
  cursor: pointer;
  background-color: #0f0f0f;
  color: white;
  border-radius: 40px;
  padding: 15px;
}
.profile-link:hover {
  cursor: pointer;
  background-color: #0f0f0f;
  color: white;
  border-radius: 40px;
  padding: 15px;
}
.dashboard-saved .saved:hover {
  cursor: pointer;
  background-color: #0f0f0f;
  color: white;
  border-radius: 40px;
  padding: 15px;
}

.weather-information {
  height: calc(100% - 82px);
  display: flex;
  padding: 0px;
  position: relative;
}

.LocationMap {
  flex: 75%;
  background-color: whitesmoke;
  padding: 0px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.saved-location-card {
  flex: 25%;
  width: 25%;
  padding: 50px 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  /* background-color: white; */
  /* background: linear-gradient(#9cadce); */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  z-index: 2;
}
.saved-location-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.line {
  background-color: rgb(88, 88, 88);
  width: 100%;
  height: 1px;
  margin: 5px 0px;
}
.temp-condition-text {
  margin: 0px 5px;
}
.temp-condition-text img {
  padding: 0px;
  margin: 0px;
}

.temp {
  font-size: 1.7rem;
  font-weight: 500;
  color: rgba(73, 73, 78, 0.801);
}
.temp-other {
  display: flex;
  justify-content: space-between;
}
.temp-other .heading {
  font-weight: 500;
}
.temp-other .item {
  margin: 0px 0px 30px 0px;
}
.search-div {
  flex: 5;
  max-width: 500px;
  height: 40px;
  padding: 0px;

  display: flex;
  border-radius: 40px;
  /* border: 1px solid rgb(153, 153, 153); */
  background-color: white;
  box-shadow: 1px 1px 3px rgb(153, 153, 153);
}

.search-div input[type="search"] {
  flex: 6;
  margin: 0px 2px;
  border: none;
  box-sizing: border-box;
}
.search-div input[type="search"]:focus {
  border: 2px solid rgb(247, 119, 119);
  outline: none;
}
#search-icon-div {
  flex: 1;
  height: 100%;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-icon {
  margin: 0px;
  color: rgb(189, 189, 189);
}

#search-btn {
  flex: 1;
  margin: 0px;
  border-radius: 0px 40px 40px 0px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #f3f5f8;
}
#search-btn:hover {
  background-color: rgb(224, 224, 224);
}
#map {
  width: 100%;
  height: 100%;
}

.day-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-forecast .icon img {
}
.day-forecast .condition {
  text-align: center;
}

.Activities {
  flex: calc(25% - 65px);
  padding: 50px;
  /* background: linear-gradient(#9cadce, #102142); */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.Activities .activities-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Activities .activity {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 1px 1px 3px rgba(187, 187, 187, 0.349);
}
.Activities .activity .icon-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Activities .activity .icon-div .icon {
  font-size: 1.8rem;
}
.Activities .activity .text {
  flex: 2;
  text-align: center;
  font-size: 1.1rem;
}

.Login {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 245, 245);
}
.Register {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 245, 245);
}
.Login .logo {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.Login .logo .icon {
  color: red;
  font-size: 4rem;
}
.Login .logo div {
  font-weight: 900;
  font-size: 1.4rem;
}
.Register .logo {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.Register .logo .icon {
  color: red;
  font-size: 4.5rem;
}

.Register .logo div {
  font-weight: 900;
  font-size: 1.4rem;
}
.page-container {
  height: 95%;
  width: 95%;
  display: flex;
  align-items: center;
  box-shadow: 1px 0px 3px 1px rgba(71, 71, 71, 0.267);
  background-color: white;
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 15px;
}

.page-container .form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.Register .page-container {
}

.form-div input {
  width: 90%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  border: 1px solid #000614;
  border-radius: 7px;
  font-size: 1rem;
  outline: none;
}
.form-div label {
  padding: 0px 10px;
}
.form-div .submit {
  width: 90%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 15px 0px;
  padding: 15px 0px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 1rem;
  background-color: #0b0a07;
  color: white;
}
.form-div .submit:hover {
  background-color: #0f0f0f;
}
.form-div .guest-submit {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 15px;
  padding: 15px 15px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 1rem;
  border: 1px solid #0b0a07;
  color: #0b0a07;
  background-color: transparent;
}
.form-div .guest-submit:hover {
  background-color: #0f0f0f3d;
  cursor: pointer;
}
.Register .err {
  color: red;
  font-size: 0.7rem;
  margin: 0px;
  padding: 0px;
}
.Login .err {
  color: red;
  font-size: 0.7rem;
  margin: 0px;
  padding: 0px;
}
.Login input:focus {
  border: 1px solid red;
}
.Register input:focus {
  border: 1px solid red;
}
.dont-have {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1rem;
}
.dont-have .button:hover {
  color: red;
}
.image-section {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section h1 {
  font-size: 14rem;
}
.image-section img {
  width: 98%;
  height: 98%;
  border-radius: 15px;
}
.button {
  cursor: pointer;
}

.submit {
  cursor: pointer;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(68, 68, 71, 0.6);
  z-index: 3;
  cursor: pointer;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-close {
  font-size: 2rem;
  color: #e6e8e6;
  cursor: pointer;
}

.savedLocations {
  margin: 0 auto 0 auto;
  padding: 50px;
  width: 40%;
  height: 50%;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
}

.profile {
  margin: 0 auto 0 auto;
  padding: 50px;
  width: 40%;
  height: 50%;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(3px);
  background-color: rgba(196, 196, 196, 0.5);
}
.Modal ul {
  margin: 0 auto 0 auto;
  padding: 50px;
  width: 90%;
  height: 80%;
  border-radius: 50px;
  scrollbar-width: none;
}

.Modal ul li {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  padding: 0px 15px;
}
.Modal ul li .location-delete {
  font-size: 1.5rem;
  display: flex;
}
.Modal ul li .location-delete:hover {
  color: red;
  cursor: pointer;
}
.fav-nav {
  display: flex;
  align-items: center;
  gap: 25px;
  color: whitesmoke;
}
.Modal .profile {
  color: rgb(24, 24, 24);
}
.profile-nav {
  display: flex;
  align-items: center;
  gap: 25px;
  color: rgb(24, 24, 24);
}

.profile .form-close {
  font-size: 2rem;
  color: rgb(24, 24, 24);
  cursor: pointer;
}
.profile-icon {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.profile-icon .icon {
  font-size: 6rem;
}
.profile-heading {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}
.profile-text {
  text-align: center;
}
/* From Uiverse.io by Shoh2008 */
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}

.loader::after {
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid red;
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }

  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 768px) {
  .Home {
    flex-direction: column;
  }
  .weather-information {
    flex-direction: column;
  }
  .alerts-menu {
    width: 30%;
  }
  .Activities {
    padding-bottom: 15px;
  }

  .Sidebar h3 {
    margin-bottom: 25px;
  }
  .saved-location-card-content {
    width: 90%;
  }

  .Sidebar {
    padding-bottom: 5px;
  }
  .Main.dark .main-header {
    border-bottom: 1px solid white;
  }
}

@media screen and (max-width: 480px) {
  .main-header {
    flex-direction: column-reverse;
    align-items: center;
  }
  .alerts-menu {
    width: 50%;
  }
  .todays-highlights {
    grid-template-columns: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .TodayHighlightCard {
    padding: 0px 100px;
  }
  .Daily-cards {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .Daily-cards .card {
    width: 90%;
  }
  .Hourly-cards {
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .HourlyHighlightCard {
    width: 100%;
  }
  .search-div input {
    width: 100%;
  }
  .theme-symbol-save-alert {
    justify-content: center;
    padding: 10px 0px;
  }
}

@media screen and (max-width: 320px) {
}

@media (max-width: 1440px) {
  .page-container {
    height: 80%;
    width: 98%;
    scrollbar-width: none;
  }
  /* }

  .page-container .form-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .page-container .form-section::-webkit-scrollbar {
    display: none;
  }

  .form-div {
    width: 70%;

    padding: 5px;
  }

  .form-div input {
    margin: 0px;
    padding: 5px;
  }
  .form-div .submit {
    margin: 0px;
    padding: 5px;
  } */
}
