* {
  font-family: "Poppins", serif;
}
body,
html {
  width: 100%;
  margin: 0;
  background-color: gray;
}

html,
body,
#root,
.App {
  height: 100%;
}
.App {
  background-color: red;
}
.Home {
  height: 100%;

  background-color: aqua;
  display: flex;
}
.Sidebar {
  flex: 2;
  height: 100%;
  background-color: whitesmoke;
}
.logo {
  text-align: center;
}
.Main {
  flex: 8;
  height: inherit;
  background-color: wheat;
}
.main-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 20px 25px;
}

.saved-btn,
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #2757b6;
  border-radius: 40px;
}
.saved-btn:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #2757b6;
  border-radius: 40px;
}
.sub-menu {
  display: none;
  padding: 15px 0px;
}
.sub-menu ul {
  padding: 0px 25px;
}
.sub-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  padding: 5px 10px;
}

.sub-menu p {
  color: #000614;
  width: 100%;
}
.sub-menu li:hover {
  background-color: whitesmoke;
  border-radius: 20px;
}
.sub-menu li p:hover {
  color: #9cadce;

  cursor: pointer;
}

.location-delete:hover {
  color: red;
  cursor: pointer;
}

.saved:hover .sub-menu {
  display: block;
}

.weather-information {
  height: calc(100% - 82px);
  display: flex;
  padding: 0px;
}

.LocationMap {
  flex: 75%;
  background-color: whitesmoke;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.saved-location-card {
  flex: 25%;
  padding: 50px 20px;
  background-color: white;
  /* background: linear-gradient(#9cadce, #102142); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved-location-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.line {
  background-color: rgb(88, 88, 88);
  width: 100%;
  height: 1px;
  margin: 5px 0px;
}
.temp-condition-text {
  margin: 0px 5px;
}
.temp-condition-text img {
  padding: 0px;
  margin: 0px;
}

.temp {
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(27, 27, 27);
}

.search-div {
  flex: 5;
  max-width: 500px;
  height: 40px;
  padding: 0px;

  display: flex;
  border-radius: 40px;
  border: 1px solid gray;
  background-color: white;
}

.search-div input[type="search"] {
  flex: 6;
  margin: 0px;
  border: none;
}
#search-icon-div {
  flex: 1;
  height: 100%;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-icon {
  margin: 0px;
  color: rgb(189, 189, 189);
}

#search-btn {
  flex: 1;
  margin: 0px;
  border-radius: 0px 40px 40px 0px;
  border: none;
}
#search-btn:hover {
  background-color: rgb(216, 216, 216);
}

/* From Uiverse.io by Shoh2008 */
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}

.loader::after {
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid red;
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }

  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
